.Admin-Page{
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 40px;
}
.Admin-Container{
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px; 
    background-color: #FFF4A4;
}
.Admin-Button{
    background-color: #16610E;
    color:white;
}