.Login-Page{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
}
.Login-Container{
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px; 
    background-color: wheat;
}